{% extends "html/base.html" %}
{% load static %}
{% block title %}
Update Profile 
{% endblock %}
{% block content %}


<div class="container">
	<div class="card mt-4 col-md-6 mx-auto">
		<h2 class="bg-warning text-center mx-2 my-2 p-2 border rounded">Update Profile</h2>


		<div class="card-body">

			<form method="POST" enctype="multipart/form-data" >
				{% csrf_token %}
				<table class="table table-borderless">
					{% for n in r %}
					<tr>
						<td>{{n}}</td>
					</tr>
					{% endfor %}
					{% for n in q  %}
					<tr>
						<td>{{n}}</td>
					</tr>
					{% endfor %}
				</table>
				<input type="submit" value="Update" class="btn btn-info btn-block">
			</form>
		</div>
	</div>
	
</div>


<footer style="background-color: black;" class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        
      </div>
      <div class="col-md-6 ">
        <h1 class="text-center m-4 text-white ">Follow us on</h1>
      </div>
    </div>
    <div class="row">

      <div class="col-md-4">
        <img class="rounded-circle mb-5 text-center" src="{% static '/images/logo_image.png' %}" height="200px" width="200px">
      </div>
      
      

      

      <div class="col-md-2 mt-4">
        <!-- <h3 class="mb-4 text-center text-white">LinkedIn</h3> -->
        <h3 class="text-center" ><a target="_blank" href="https://www.linkedin.com/in/veeravarapunivas"><i style="color: #FFFFFF;" class="fa-brands fa-linkedin fa-lg fa-fade" ></i></a></h3>
        <div class="icon-with-text mt-5 text-center">
  <i class="fa-solid fa-phone fa-fade fa-2xl ml-5"></i>
  <h5 class="ml-2">7207495740</h5>
</div>
      </div>

<div class="col-md-2 mt-4">
        <!-- <h3 class="mb-4 text-center text-white">Instagram</h3> -->
        <h3 class="text-center"><a href="https://instagram.com/nivas.veeravarapu?igshid=MzNlNGNkZWQ4Mg==" target="_blank"><i style="color: #FFFFFF;" class="fa-brands fa-instagram fa-lg fa-fade" style="color: #51411f;"></i></a></h3>
      </div>

      <div class="col-md-2 mt-4">
        <!-- <h3 class="mb-4 text-center text-white">Twitter</h3> -->
        <h3 class="text-center"><a target="_blank" href="https://twitter.com/68Nivas87010?t=5DAiDO6S574uVgkAQon9iA&s=09"><i style="color: #FFFFFF;" class="fa-brands fa-twitter fa-lg fa-fade" style="color: #0c59df;"></i></a></h3>
<!-- <div class="text-center mt-5">
  <p class="text-white"><i class="fa-solid fa-envelope fa-fade fa-2xl" style="color: #ffffff;"></i>nivasv2331@gmail.com</p>
  
</div> -->

<div class="icon-with-text mt-4 text-center">
  <i class="fa-solid fa-envelope fa-fade fa-2xl "></i>
  <h5 class="m-3 pb-2">nivasv2331@gmail.com</h5>
</div>


      </div>

      <div class="col-md-2 mt-4">
        <!-- <h3 class="mb-4 text-center text-white">Facebook</h3> -->
        <h3 class="text-center"><a target="_blank" href="https://www.facebook.com/nivas.veeravarapu.5"><i  style="color: #FFFFFF;" class="fa-brands fa-facebook fa-lg fa-fade"></i></a></h3>
      </div>
    </div>
  </div>
  <hr style="background-color: white;">


  <div class="mb-3 p-2 text-center">
    <p class="paragraph-5 text-white " style="text-align: center">Copyright © 2023 | WorkLog | All Rights Reserved</p>
  </div>
</footer>
<link rel="stylesheet" type="text/css" href="{% static '/css/footer.css' %}">
<link rel="stylesheet" href="{% static '/css/mobile.css' %}">
{% endblock %}